<small><small><i>
Introduction to Python for Bioinformatics - available at https://github.com/kipkurui/Python4Bioinformatics.
</i></small></small>

## Dictionaries

Dictionaries are mappings between keys and items stored in the dictionaries. Unlike lists and tuples, dictionaries are unordered. Alternatively one can think of dictionaries as sets in which something stored against every element of the set. They can be defined as follows:

To define a dictionary, equate a variable to { } or dict()

In [2]:
d = dict() # or equivalently d={}
print(type(d))
d['abc'] = 3
d[4] = "A string"
d['one'] = 1
print(d)
d['abc']
#len(d)

<class 'dict'>
{'abc': 3, 4: 'A string', 'one': 1}

3

As can be guessed from the output above. Dictionaries can be defined by using the `{ key : value }` syntax. The following dictionary has three elements

In [1]:
d = { 1: 'One', 2 : 'Two', 100 : 'Hundred'}
len(d)
d
#HOW TO INSERT AN ITEM IN THE DICT WITHOUT OVERWRITING THE KEY D
d[3] = 'three'
d

{1: 'One', 2: 'Two', 100: 'Hundred', 3: 'three'}

Now you are able to access 'One' by the index value set at 1

In [3]:
d[2]

'One'

There are a number of alternative ways for specifying a dictionary including as a list of `(key,value)` tuples.
To illustrate this we will start with two lists and form a set of tuples from them using the **zip()** function
Two lists which are related can be merged to form a dictionary.

In [ ]:
names = ['One', 'Two', 'Three', 'Four', 'Five']
numbers = [1, 2, 3, 4, 5]
d = [ (name,number) for name,number in zip(names,numbers)] # create (name,number) pairs
d

[('One', 1), ('Two', 2), ('Three', 3), ('Four', 4), ('Five', 5)]

In [16]:
names = ['One', 'Two', 'Three', 'Four', 'Five']
numbers = [1, 2, 3, 4, 5]
# [ (name,number) 
for name,number in zip(names,numbers):
    print(name,number)
    d = {name:number}
    #d = (names,numbers)
    print(d)# create (name,number) pairs
d = list(zip (names,numbers))
d
# d = [(name,number) for name,number in zip(names,numbers)]
# d

One 1
{'One': 1}
Two 2
{'Two': 2}
Three 3
{'Three': 3}
Four 4
{'Four': 4}
Five 5
{'Five': 5}

[('One', 1), ('Two', 2), ('Three', 3), ('Four', 4), ('Five', 5)]

In [46]:
names = ['One', 'Two', 'Three', 'Four', 'Five']
numbers = [1, 2, 3, 4, 5]
d = '' 
for name,number in zip(names,numbers):
    #print(name,number)
    d = (name + ' ' + '%d' %(number))
    print(d, end='\t')
d
#type(d)
#d[1]
    #print(d)# create (name,number) pairs
#d = list(zip (names,numbers))
#d
d = [(name,number) for name,number in zip(names,numbers)]
#d = [(i,j) for i,j in zip(names,numbers)]
d
d[0]
type(d)
d

One 1	Two 2	Three 3	Four 4	Five 5

[('One', 1), ('Two', 2), ('Three', 3), ('Four', 4), ('Five', 5)]

In [41]:
number_list = [1, 2, 3]
str_list = ['one', 'two', 'three']

# No iterables are passed
result = zip()
print(result)

# Converting iterator to list
result_list = list(result)
print(result_list)

# Two iterables are passed
result = zip(number_list, str_list)
print(result)
result_list = list(result)
print(result_list)
result_list[0][0]
# # Converting iterator to set
# result_set = set(result)
# print(result_set)

<zip object at 0x0000027120EC3040>
[]
<zip object at 0x0000027120EC3500>
[(1, 'one'), (2, 'two'), (3, 'three')]

1

In [25]:
d1 = {}
for name,number in zip(names,numbers):
    d1[name] = number
d1

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}

In [33]:
names = ['One', 'Two', 'Three', 'Four', 'Five']
numbers = [1, 2, 3, 4, 5]
my_dict = {}
i=0
for name in names:
        my_dict[name]= numbers[i]
        i+=1
    # for number in numbers: #doing this made the name element be taken through this step <-- five times(i.e., the number of times 
        # names[0]=number[0]
        # my_dict[name] = number
print(my_dict)

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}

In [36]:
my_dict={}
for name,number in zip (names,numbers):
    # print(name,number)
    my_dict[name]=number
    
    
my_dict

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}

In [31]:
names = ['One', 'Two', 'Three', 'Four', 'Five']
numbers = [1, 2, 3, 4, 5]
my_dict = {}
for i in range(len(names)):
    # print(i)
    my_dict[names[i]] = numbers[i]
print(my_dict)

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}

In [40]:
dict_a ={}
for i,name in enumerate(names):
    dict_a[name]=numbers[i]
print(dict_a)

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}

In [43]:
trial = dict((name,i) for i,name in enumerate (names))
trial

{'One': 0, 'Two': 1, 'Three': 2, 'Four': 3, 'Five': 4}

In [22]:
names[0],numbers[0]

('One', 1)

In [77]:
s=[]
type(s)
s=[36]
a=6
b=36
print(s)
my_list=[]
#for i in range(36):
    print(s)
    
#print(s)
#for i in range(s):
 #   print (s)

IndentationError: unexpected indent (2206771433.py, line 9)

In [139]:
#for i in range(6,37):
 #   print (i)
mylist = []
for i in range(6,36):
    if i%2 ==1:
        mylist.append(i)
print(mylist)

[7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35]

In [140]:
mylist.remove(mylist[0])
mylist

[9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35]

Now we can create a dictionary that maps the name to the number as follows.

In [26]:
#this creates a dictionary
a1 = dict((name,number) for name,number in zip(names,numbers))
print(a1)
type(a1)

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}

dict

In [25]:
#this creates a list of tuples
a1 = list((name,number) for name,number in zip(names,numbers))
print(a1)
type(a1)

[('One', 1), ('Two', 2), ('Three', 3), ('Four', 4), ('Five', 5)]

list

Note that the ordering for this dictionary is not based on the order in which elements are added but on its own ordering (based on hash index ordering). It is best never to assume an ordering when iterating over elements of a dictionary.

"Dictionaries are **insertion ordered[1]**. As of Python 3.6, for the CPython implementation of Python, dictionaries remember the order of items inserted. This is considered an implementation detail in Python 3.6; you need to use OrderedDict if you want insertion ordering that's guaranteed across other implementations of Python (and other ordered behavior[1]).

As of Python 3.7, this is no longer an implementation detail and instead becomes a language feature."

By using tuples as indexes we make a dictionary behave like a sparse matrix:

In [89]:
matrix={ (0,1): 3.5, (2,17): 0.1}
matrix[2,2] = matrix[0,1] + matrix[2,17]
print(matrix)

{(0, 1): 3.5, (2, 17): 0.1, (2, 2): 3.6}

Dictionary can also be built using the loop style definition.

In [50]:
a2 = { name : len(name) for name in names}
print(a2)

{'One': 3, 'Two': 3, 'Three': 5, 'Four': 4, 'Five': 4}

### Built-in Functions

The **len()** function and **in** operator have the obvious meaning:

In [38]:
print("a1 has",len(a1),"elements")
print("One is in a1 is",'One' in a1,", but Zero in a1 is", 'Zero' in a1)

a1 has 5 elements
One is in a1 is True , but Zero in a1 is False

**clear( )** function is used to erase all elements.

In [53]:
a2.clear()
print(a2)

{}

**values( )** function returns a list with all the assigned values in the dictionary. (Acutally not quit a list, but something that we can iterate over just like a list to construct a list, tuple or any other collection):

In [47]:
a2=a1.values()

In [48]:
list(a2)

[1, 2, 3, 4, 5]

In [16]:
[ v for v in a1.values() ]

[1, 2, 3, 4, 5]

**keys( )** function returns all the index or the keys to which contains the values that it was assigned to.

In [96]:
a1.items()

dict_items([('One', 1), ('Two', 2), ('Three', 3), ('Four', 4), ('Five', 5)])

In [54]:
{ k for k in a1.keys() }

{'Five', 'Four', 'One', 'Three', 'Two'}

**items( )** is returns a list containing both the list but each element in the dictionary is inside a tuple. This is same as the result that was obtained when zip function was used - except that the ordering has been 'shuffled' by the dictionary.

In [75]:
a = a1.items()
a = list(a)
b=a[0]
b[0]
print(b[0],"=",b[1])
# b.replace(",","=")

One = 1

In [112]:
",  ".join( "%s = %d" % (name,val) for name,val in a1.items())

'One = 1,  Two = 2,  Three = 3,  Four = 4,  Five = 5'

In [42]:
print(a1)
for name,val in a1.items():
   # print(name,val,sep="=",end="; ") #approach one
    print("%s = %d" % (name,val))

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}
One = 1
Two = 2
Three = 3
Four = 4
Five = 5

In [78]:
S = ''
for name,val in a1.items():
    S = S + "%s = %d" % (name,val) + ", "
    
print(S)

One = 1, Two = 2, Three = 3, Four = 4, Five = 5,

In [21]:
S =[]
for name,val in a1.items():
    S.append("%s = %d" % (name,val))
S

['One = 1', 'Two = 2', 'Three = 3', 'Four = 4', 'Five = 5']

**pop( )** function is used to get the remove that particular element and this removed element can be assigned to a new variable. But remember only the value is stored and not the key. Because the is just a index value.

In [43]:
val = a1.pop('Four')
print(a1)
print("Removed",val)

{'Two': 1, 'One': 2, 'Three': 3, 'Five': 5}
Removed 4

In [46]:
a1['Two'] = ''

In [53]:
?a1.pop('Four')

Docstring:
D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
If key is not found, d is returned if given, otherwise KeyError is raised
Type:      builtin_function_or_method

In [39]:
for key in a1.keys():
    #print(key, a1[key])
    print(key, a1)

One {'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}
Two {'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}
Three {'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}
Four {'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}
Five {'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}

## Exercise

- **Using strings, lists, tuples and dictionaries concepts, find the reverse complement of AAAAATCCCGAGGCGGCTATATAGGGCTCCGGAGGCGTAATATAAAA**


Algorithm:
1. Store the DNA in a string
    - Use it as a string
    - Convert it to a list
2. Reverse the dna string
    - reverse method on lists
    - Slice methods on lists
    - use negative indexing (slicing) on a string or list
3. Complement:
    - For a string, we can use replace
    - Use conditionals to replace an empty list
    - use a DNA complement dictionary
    
- **Translate the sequence to amino acids**

In [24]:
dna = []
type(dna)
dna = ["AAAAATCCCGAGGCGGCTATATAGGGCTCCGGAGGCGTAATATAAAA"]

['AAAAATCCCGAGGCGGCTATATAGGGCTCCGGAGGCGTAATATAAAA']

In [27]:
dna = "AAAAATCCCGAGGCGGCTATATAGGGCTCCGGAGGCGTAATATAAAA"
dna[::-1]

'AAAATATAATGCGGAGGCCTCGGGATATATCGGCGGAGCCCTAAAAA'

### Using Strings

In [2]:
dna = 'AAAAATCCCGAGGCGGCTATATAGGGCTCCGGAGGCGTAATATAAAAG'

In [79]:
#reversed_dna = ''.join([dna[-i] for i in range(1,len(dna)+1)])

In [80]:
reversed_dna = dna[::-1]

In [87]:
reversed_dna = reversed_dna.replace('A','t').replace('C','g').replace('G','c').replace('G','c').replace('T','a')

In [88]:
reversed_dna.upper()

'CTTTTATATTACGCCTCCGGAGCCCTATATAGCCGCCTCGGGATTTTT'

### Using Conditionals

In [3]:
comp_dna = []
for nuc in dna:
    if nuc == 'A':
        comp_dna.append('T')
    elif nuc == 'T':
        comp_dna.append('A')
    elif nuc == 'C':
        comp_dna.append('G')
    elif nuc == 'G':
        comp_dna.append('C')
    else:
        comp_dna.append(nuc)
print(comp_dna) #comp_dna is a list at this point
#comp_dna[::-1]

['T', 'T', 'T', 'T', 'T', 'A', 'G', 'G', 'G', 'C', 'T', 'C', 'C', 'G', 'C', 'C', 'G', 'A', 'T', 'A', 'T', 'A', 'T', 'C', 'C', 'C', 'G', 'A', 'G', 'G', 'C', 'C', 'T', 'C', 'C', 'G', 'C', 'A', 'T', 'T', 'A', 'T', 'A', 'T', 'T', 'T', 'T', 'C']

In [4]:
comp_dna.reverse()

In [5]:
''.join(comp_dna) #using the .join converts lists to strings

'CTTTTATATTACGCCTCCGGAGCCCTATATAGCCGCCTCGGGATTTTT'

In [7]:
revCompDNA = ''
for nuc in comp_dna:
    revCompDNA = revCompDNA + nuc #concatenating of strings uses the + sign, equivalent to usign .extend/.append with lists

In [24]:
revCompDNA

'CTTTTATATTACGCCTCCGGAGCCCTATATAGCCGCCTCGGGATTTTT'

In [9]:
print("s" + "t") #the + sign is used to add

st

In [29]:
#example from the internet: tuples vs strings
myTuple = ("John", "Peter", "Vicky") #using the .join also converts tuples to strings. "John" in this case is an element within the object myTuple
myTuple[0] #a tuple = object, contains elements. can return the elements using index pos, e.g., 0,1...
myTuple [::-1] #can use the splicing way to reverse the elements
myString =' '.join(myTuple) #this converts myTuple to a string. J, o, h...are now objects
type(myString)
type(myTuple)
myString[4]
myTuple [::-1]
#x = "#".join(myTuple)

#print(x)

('Vicky', 'Peter', 'John')

### Using the dictionary

In [107]:
dna

'AAAAATCCCGAGGCGGCTATATAGGGCTCCGGAGGCGTAATATAAAAG'

In [3]:
dna = 'AAAAATCCCGAGGCGGCTATATAGGGCTCCGGAGGCGTAATATAAAAG'
rev_dna_dict = {'A':'T', 'C':'G', 'G':'C', 'T':'A'}
comp_dna = ''
rev_dna_dict["A"]
# for nuc in dna:
#     comp_dna = rev_dna_dict[nuc] + comp_dna
# print(comp_dna)

'T'

In [2]:
#translating the sequence
rev_dna='CTTTTATATTACGCCTCCGGAGCCCTATATAGCCGCCTCGGGATTTTT'
rev_dna
mrna1=rev_dna.replace('T','u').upper()
mrna1

'CUUUUAUAUUACGCCUCCGGAGCCCUAUAUAGCCGCCUCGGGAUUUUU'

In [6]:
mrna1
print(mrna1[0:3],mrna1[3:6])
len(mrna1[0:3])

CUU UUA

3

In [113]:
codons=[]
for i in range(0,len(mrna1),3):
    #print(mrna1)
    (mrna1[i:i+3]) 
    print(mrna1[i:i+3])
#    mrna1_codons=(mrna1[i:i+3])
#print(mrna1_codons)
    

mrna[0:3]

CUU
UUA
UAU
UAC
GCC
UCC
GGA
GCC
CUA
UAU
AGC
CGC
CUC
GGG
AUU
UUU