## Strings

In [1]:
#1. Looping over strings. Rem, strings are inherently iterable. 
var_string = "string"
for i in var_string:
    print (i)

s
t
r
i
n
g

In [70]:
#2. could also use the range and length len() of the string object
var_string = 'string'
for i in range(len(var_string)):
    d = print(var_string[i])
    d

s
t
r
i
n
g

In [72]:
##Dear self, this is very unnecessary. Why, you ask? Just use len()!!!
len(var_string)
#my own thought on how I can count the number of characters in a string. I appended 'no' to list y for each 
#...iteration over the string var_string, and counted the number of 'no's in the list
var_string = 'string'
y = []
for i in range(len(var_string)):
    y.append('no')
y.count('no')

6

In [31]:
#3. using the enumerate method
for i,j in enumerate (var_string):
        print(i,j)
        
for i,j in enumerate (var_string):
        print(j)

0 s
1 t
2 r
3 i
4 n
5 g
s
t
r
i
n
g

In [37]:
#4. using the while loop
i = 0
while i < len(var_string):
    print(var_string[i])
    i +=1

s
t
r
i
n
g

In [74]:
#the continue function (not sure if it's called method)
i = 0
while i < len(var_string):
    print(var_string[i])
    i += 1
    if i == 2:
        print('skipped')
        continue

s
t
skipped
r
i
n
g

In [75]:
#absolute values
x = -4.0
print(abs(x))

4.0

In [77]:
###REMEMBER THIS CONCEPT WHEN DOING MY PROJECT
#THAT YOU CAN MULTIPLY A STRING CHARACTER TO REPEAT IT A CERTAIN NUMBER OF TIMES
ast = '*'
print(ast*80,' ' *80, ast*80, sep="\n")

********************************************************************************

********************************************************************************

In [18]:
#using range splicing with strings
var_string
var_string[:4]

'stri'

In [21]:
z = var_string[0] + var_string[1]
z

'st'

In [23]:
#using range splicing with lists too
var_list_of_lists = [[1,2,3],[4,5,6],[7,8,9]]
var_list_of_lists[:2]

[[1, 2, 3], [4, 5, 6]]

In [23]:
#.replace in strings
#check whether a string has digits only using .isdigit. returns a True of False
b = 'Wandanda'
print(b.replace('nda', 'ka'))
print(b.replace(b[2:5], 'ka')) #trying the same out with splicing 
print(b.replace('nda', 'ka',1)) #to replace only the first occurence of the 'old' text, you use the optional argument .replace(old,new[,count])
print(b.replace(b[2:5], 'ka',1))
#b[2:5] = x
?str.replace

Wakaka
Wakaka
Wakanda
Wakanda

Signature: str.replace(self, old, new, count=-1, /)
Docstring:
Return a copy with all occurrences of substring old replaced by new.

  count
    Maximum number of occurrences to replace.
    -1 (the default value) means replace all occurrences.

If the optional argument count is given, only the first count occurrences are
replaced.
Type:      method_descriptor

In [9]:
str1 = 'Hey Cal, I got you a cookie'
str2 = 'cook'
str1.find('Cal')

4

In [1]:
import __hello__

Hello world!

In [5]:
print("hello", "World!", sep=":")

hello:World!

In [10]:
if attr==-1:
    while x<5:
        print("Waiting...")
        wait(1)
        x = x + 1
        print("Everything is OK")
else:
    print("There is an error")

NameError: name 'attr' is not defined

In [24]:
a = set("aa,bb,ac,x")
a

{',', 'a', 'b', 'c', 'x'}

In [79]:
d = ("Alex Doe, 5555-2333, nobody@example.com, Doe")
e = "Alex Doe 5555-2333 nobody@example.com DoeDoe,...........Doe"
e.index("Doe",6) #can be used to find the position of the next "Doe" in the string

38

In [3]:
#using rfind() or rindex() returns the highest index where the specified substring is found, i.e.bb
e.rindex("Doe")

56

In [80]:
d.split(sep=',',maxsplit=1) #splits only at the first occurence of the separator

['Alex Doe', ' 5555-2333, nobody@example.com, Doe']

In [82]:
#.join is used to join several strings together
e = ["Alex", "Doe", "5555-2333", "nobody@example.com"] #this is a list of strings

e = "Alex", "Doe", "5555-2333", "nobody@example.com" #this data type is a tuple
print("The data type of e is "+ str(type(e)))
f = ' '.join(e)
print(f)

type(f)
#if i > 0 in i
 #    print(i)
     #try:
      #  print(i)
    #except:
     #   print("Not present")

The data type of e is <class 'tuple'>
Alex Doe 5555-2333 nobody@example.com

str

In [85]:
#my own thoughts on how to eliminate a space(or a delimiter for that matter) in a string; in this case, a space 
#it is first converted to a list, which is mutable, then modified, then changed back to a string, which is immutable
test_seq = 'agcctgccc gcca'
seq = test_seq.split() #this converts it into a list of 2 strings
''.join(seq) #this joins the two strings in the list 

test_seq = 'agcctgccc,gcca'
seq = test_seq.split(',')
''.join(seq)

'agcctgcccgcca'

In [24]:
#help(str)

In [29]:
?str.expandtabs

Signature: str.expandtabs(self, /, tabsize=8)
Docstring:
Return a copy where all tab characters are expanded using spaces.

If tabsize is not given, a tab size of 8 characters is assumed.
Type:      method_descriptor

In [45]:
my_sequence = "Python"
my_sequence[1:5:2]

'yh'

## Dictionaries

In [111]:
#you can create a dictionary from a list of tuples
rgb = [('red','ff0000'), ('green','00ff00'), ('blue','0000ff')]
rgb2 = [("red,ff0000"), ("green,0ff00"), ("blue,0000ff")]
colour_dict=dict(rgb)
print(colour_2)
print(colour_1)

{'red': 'ff0000', 'green': '00ff00', 'blue': '0000ff'}
{'red': 'ff0000', 'green': '00ff00', 'blue': '0000ff', 'yellow': 'idk'}

In [112]:
colour_dict["red"] #how to call a value using the key in a dictionary
colour_dict['green']
colour_keys = colour_dict.keys()
colour_keys
colours = ['red', 'blue', 'yellow']

In [113]:
colour_dict["yellow"] = "idk"
colour_dict

{'red': 'ff0000', 'green': '00ff00', 'blue': '0000ff', 'yellow': 'idk'}

In [114]:
colour_dict.keys() #how to obtain just the keys from a dictionary

dict_keys(['red', 'green', 'blue', 'yellow'])

In [115]:
colour_dict.values()

dict_values(['ff0000', '00ff00', '0000ff', 'idk'])

In [116]:
#used the concept of a list of strings to search the colour codes from the dictinary colour_dict
#perhaps this concept can work in the translation of mrna using the aa dictionary
for i in colours:
    val = colour_dict[i]
    print(i,val)

red ff0000
blue 0000ff
yellow idk